.hackathon-container {
  background-color: #fff;
  border-radius: 8px;
  padding-top: 10px;
  margin-top: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  /* Allow the width to adapt to the sidebar column */
  max-width: 300px;
  /* Prevent it from exceeding a specific size */
  position: sticky;
  /* Makes it sticky within its parent container */
  top: 10px;
  /* Distance from the top of the viewport */
}

.hackathon-container h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.registration-info,
.registration-closed,
.free-registration {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-icon svg {
  margin-right: 10px;
  fill: #2c3e50;
}

.registration-info span,
.registration-closed span,
.free-registration span {
  font-size: 14px;
  color: #2c3e50;
}

.timer {
  font-size: 20px;
  font-weight: bold;
  color: #e74c3c;
}

.free-registration svg {
  margin-left: 10px;
  fill: #2c3e50;
}

.registration-button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.registration-button:hover {
  background-color: #c0392b;
}

.participation-info {
  margin-top: 20px;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 4px;
}

.participation-info h2 {
  font-size: 18px;
  margin-bottom: 8px;
}

.participation-info p {
  font-size: 14px;
  color: #34495e;
}

.hackathon-container {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
}

/* Sticky Sidebar Behavior */
.sticky-sidebar {
  position: fixed;
  top: 10px;
  /* Sticks to 10px from the top */
  right: 20px;
  width: 300px;
}

.bottom-fixed-sidebar {
  position: absolute;
  bottom: 0;
  width: 300px;
}
