


.hero {
  display: flex;
   justify-content: center; /* Horizontally centers the content */
  align-items: center;      /* Vertically centers the content */
  height: 50vh;            /* Makes the section take up full viewport height */
  width: 100%;              /* Ensures the section takes up the full width */
  background-color: #f5f5f5; /* Optional background color */
}

.hero__image img {
  max-width: 100%;      /* Ensures the image scales to fit its container */
  max-height: 100%;     /* Ensures the image scales to fit its container */
  object-fit: cover;    /* Makes sure the image covers the area of its container */
}